<!DOCTYPE html>
<html lang="en">
<head>
<title>KTT| Admin Bhoga Bazar</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/bootstrap1.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/bootstrap-responsive.min.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/fullcalendar.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/matrix-style.css' ) }}" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/matrix-media.css' ) }}" />
<link href="{{ url_for('static',filename = 'admin_font-awesome/css/font-awesome.css' ) }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static',filename = 'admin_css/jquery.gritter.css' ) }}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1></h1>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->

<!--close-top-Header-menu-->
<!--start-top-serch-->

<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home">Control Panel</i></a>
  <ul>
    <li class="active"><a href="/adminbhoga"><span>Bhoga Bazar</span></a></li>
    <li> <a href="/admindonation"> <span>Donation</span></a> </li>
    <li> <a href="/adminhallbook"> <span>Anand Bazar</span></a> </li>

      <li class=""><a title="" href="/adminlogout"><span class="text">Logout</span></a></li>



  </ul>
</div>
<!--sidebar-menu-->
<br>
<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  <div id="content-header">
    <div id="breadcrumb">
      <a href="/admindaily" title="Go to Daily Thali" class="tip-bottom"><i class="icon-wrench"></i>Daily Thali</a>

      <a href="/adminspecial" title="Go to Special Thali" class="tip-bottom"><i class="icon-wrench"></i>Special Thali</a>

      <a href="/adminparty" title="Go to Party Order" class="tip-bottom"><i class="icon-file"></i>Party Order</a>
    </div>
  </div>
<!--End-breadcrumbs-->

<!--Action boxes-->
  <div class="container-fluid">

    <h1 align="center" style="padding-top: 200px">
    BHOGA BAZAR CONTROL PANEL
    </h1><br>
    <p align="center" style="font-size:25px"> Select control from the top panel</P>
    </div>
    </div>

<!--end-main-container-part-->

<!--Footer-part-->

<div class="row-fluid">
  <div id="footer" class="span12">  <marquee class="text-white" direction="left">© Copyright 2017 - 2019 | KIIT Temple Trust KIIT | All Rights Reserved

            </marquee> </div>
</div>

<!--end-Footer-part-->

<script src="{{ url_for('static',filename = 'admin_js/excanvas.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.flot.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.flot.resize.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.dashboard.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.gritter.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.ui.custom.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/fullcalendar.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.interface.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.chat.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.validate.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.form_validation.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.wizard.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.uniform.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/select2.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.popover.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static',filename = 'admin_js/matrix.tables.js') }}"></script>
<script type="text/javascript">
n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
</script>
<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
